
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    font-family: "Mulish", sans-serif;
    height: 100vh;
}
.main{
    max-width: 1600px;
    margin: 0 auto;
    padding: 56px 180px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 160px;
    height: 40px;
}
.nav-items{
    display: flex;
}
.nav-items li a{
    font-size: 18px;
    line-height: 23px;
    color: #1f1534;
    opacity: 0.5;
    margin: 0 20px;
}
.nav-items li a.active{
    font-weight: bold;
    opacity: 1;
    color: black;
}
.element{
    position: absolute;
    top: 160px;
    left: 0;
    width: 132px;
    height: 115px;
}


.header-items{
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
    

}
.header-items .header-left{
    margin-right: 110px;
}
.header-items .header-left h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 25px;
    width: 430px;
    color: #000000;
}
.header-items .header-left p{
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7d7987;
    margin-bottom: 45px;
    width: 440px;
}
.btn{
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    padding: 15px 40px;
    color: #ffffff;
    background: #458ff6;
    border-radius: 55px;
}

.service{
    grid-area: ourServices;
    padding-top: 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.service-title{
    font-style: normal;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    margin: 0;
}
.service-line{
    align-self: center;
}
.service-description{
    margin-top: 32px;
    font-weight: 300;
    color: #7d7987;
    margin-left: -3px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.services-servicebox{
    /* background: url("../images/cloud.svg") no-repeat top -185px left -6.18%,
    url("../images/element2.svg") no-repeat right 30px top 367px; */
    justify-content: center;
    padding-top: 80px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 37px 34px;
}

.services{
    box-sizing: border-box;
    width: 350px;
    height: 354px;
    background-color: #ffffff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    padding: 54px 0 0 36px;
}
.services-title{
    font-size: 24px;
    margin: 29px 0 13px 0;
}
.services-description{
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}
.service-btn{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #458FF6;
    background: #ffffff;
    line-height: 60px;
    width: 200px;
    height: 56px;
    margin-top: 69px;
    align-self: center;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
}
.providers{

    display: flex;
    max-width: 1273px;
    max-height: 477px;
    left: 135px;
    margin-top: 220px;
}
.providers-left{
    height: 477px;
    width: 650px;
}
.providers-right{
    display: flex;
    flex-direction: column;
    margin-left: 142px;
}
.providers-title{
    width: 481px;
    height: 112px;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    line-height: 56px;
    margin-top: 78px;
}
.providers-line{
    align-self: auto;
}
.providers-description{
    color: #7D7987;
    font-weight: 300;
    font-size: 18px;
    margin-top: 31px;
    max-width: 450px;
    max-height: 120px;
    line-height: 30px;
}
.providers-btn{
    width: 200px;
    height: 56px;
    margin-top: 40px;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    background: #ffffff;
    color: #458ff6;
    font-size: 18px;
    line-height: 60px;
    font-weight: bold;
}
.elements3{
    position: absolute;
    right: 0;
    width: 131px;
    height:115px;
    opacity:30%;

}
.apps{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apps-heading{
    width: 481px;
    height: 112px;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    line-height: 56px;
    margin-top: 78px;
}
.apps-line{
    align-self: auto;
}

.apps-details{
    color: #7D7987;
    font-weight: 300;
    font-size: 18px;
    margin-top: 31px;
    max-width: 420px;
    max-height: 120px;
    line-height: 30px;

}
.apps-btn{
    width: 200px;
    height: 56px;
    margin-top: 40px;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    background: #ffffff;
    color: #458ff6;
    font-size: 18px;
    line-height: 60px;
    font-weight: bold;
}
.apps-right{
    height: 434px;
    width: 660px;
    margin-top: 126px;
}
.customer-bg-img{
    /* image: url("../images/image 1.svg") no-repeat top -185px left -6.18%; */
    margin-top: 266px;
    width: 1120px;
    height: 425px;
    border-radius: 24px;
    position: relative;
    color: white;

}
.customer-right-dot{
    position: absolute;
    left:1036px ;

}
.customer-head{
    position: absolute;
    top: 64px;
    left: 310px;
    font-size: 36px;
    font-weight: 700px;
}
.customer-img{
    position: absolute;
    width: 133px;
    height: 133px;
    border-radius: 82px;
    border: 3px solid ;
    left: 117px;
    top: 205px;

}

.customer-msg{
    position: absolute;
    top: 216px;
    left: 582px;
    font-size: 19px;
}
.customer-name{
    position: absolute;
    top: 236px;
    left: 287px;
    font-size: 22px;
}
.customer-details{
    position: absolute;
    top: 268px;
    left: 288px;
    font-size: 18px;
}
.customer-left-dot{
    position: absolute;
    right:1040px ;
    top: 271px;
    /* opacity: 30; */

}
.customer-arrow{
    position:absolute;
    left: 427px;
    top: 483px;
}
.articles-title{
    position: relative;
    top: 222px;
    text-align: center;
    font-size: 36px;
}
/* .articles-rectangle{
    position: absolute;
    left: 772px;
    top: 26px;
}  */
.articles{
    display: flex;
    justify-content: center;
    margin-top: 223px;
}
.art{
    display: flex;
    border-radius: 20px;
    padding: 54px 0  36px;
    left: 233px;
    top: 733px;
    grid-gap: 37px 34px;
}
.articles-box{
    max-width: 350px;
    max-height: 512px;
}
.articles-img{
    border-radius: 22px;
}
.articles-img-title{
    line-height: 32px;
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    margin-top: 21px;
}
.articles-img-description{
    line-height: 28px;
    font-size: 16px;
    font-weight: 600px;
    color:  #7D7987;
    margin-top: 12px;
}
.articles-btn{
font-style: normal;
font-weight: bold;
font-size: 17px;
color: #458FF6;
background: #ffffff;
line-height: 60px;
width: 200px;
height: 56px;
margin-top: 25px;
}
.view-btn{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #458FF6;
    background: #ffffff;
    line-height: 60px;
    width: 200px;
    height: 56px;
    margin-top: 69px;
    align-self: center;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    margin-left: 509px;
}